.THIS .slds-pill__remove {
    display: none !important;
}

.THIS .container {
  display: flex;
  flex-direction: column;
  height: 50px;
  border: 1px ridge #6c6c6c;
}

.THIS .row {
  display: flex;
  flex-direction: row;
  height: 50%;
}

.THIS .col {
  flex-basis: 50%;
  border: 1px ridge #6c6c6c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.THIS .sub-col {
  flex-basis: 33.33%;
  border: 1px ridge #6c6c6c;
  display: flex;
  justify-content: center;
  align-items: center;
}