.THIS {
}

.THIS .centerLookup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.THIS .textPosition{
    position: absolute;
    border: 1 px solid saddlebrown;
    left: 15px;
    padding-left:10px;
    font-size: 12px;
    color:#444444;
}

.THIS .slds-modal__container{
    /* border:1px solid red; */
    max-width: 70rem !important;
    width:60% !important;
}