.THIS .leaseIcon {
    /* --sds-c-icon-color-foreground-default: rgb(255, 255, 255); */
    /* --sds-c-icon-color-background: gray; */
    /* --sds-c-icon-color-foreground-default: white; */
    --sds-c-icon-color-foreground: white;
    --sds-c-icon-color-background: gray;
    height: 24px;
    width: 24px;
}

.THIS .borderParent{
    border: 1px solid rgba(201, 201, 201, 1); 
    border-radius: 5px;
}

.THIS .leaseTitle{
    font-weight: bold;
    font-size: 16px;
}

.THIS .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f3f3;
    border-bottom: 1px solid rgba(201, 201, 201, 1); 
    /* border-radius: 4px; */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height:65px;
    padding: 15px;
    padding-top: 20px;
}

.THIS .footerButtons{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}